/****css reset****/
html, body, ul, li, ol,
dl, dd, dt, p, h1, h2, h3,
h4, h5, h6, form, img, input {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    font-weight: normal;
}

img {
    display: block;
    border: 0 none;
}

ul, ol {
    list-style: none;
}

input {
    border: 0 none;
    outline: none;
}

textarea {
    resize: none;
}

html,body {

    font:12px 宋体 ,tahoma,sans-serif;
    color: #000;
}
a {
    text-decoration: none;
    color: #000;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    zoom: 1;
}


/****header****/
.wrap{
    width: 988px;
    margin: 0 auto;
}
.header{
    background: url("../images/header_logo.png") no-repeat 10px 15px;
    height: 77px;
}
.header div{
    float: right;
    margin-top: 51px;
}
.header p{
    float: left;
    padding: 0 16px;
}
.header-word{
    border-right: 1px solid #636363;
}

.nav{
    height: 35px;
    background: url("../images/nav_middle.png") repeat-x center;
    position: relative;
}
.nav_first{
    position: absolute;
    width: 7px;
    height: 41px;
    background: url("../images/nav_left.png") no-repeat center;
    left: -7px;
    top:-6px;
}
.nav_last{
    position: absolute;
    width: 7px;
    height: 41px;
    background: url("../images/nav_right.png") no-repeat center;
    right: -7px;
    top:-6px;
}
.nav>ul>li>a{
    display: inline-block;
    line-height: 35px;
    height: 35px;
    color: #FFF;
    padding: 0 22px 0 21px;
}
.nav p{
    float: left;
    font-size: 14px;
    float: left;
    line-height: 35px;
}
.nav p a{
    display: inline-block;
    line-height: 35px;
    padding: 0 26px;
    color: #FFF;
}
.nav p a:hover{
    background: #0e955c;
}
.nav>ul>li{
    font-size: 14px;
    float: left;
    line-height: 35px;
    background: url("../images/nav_border.png") no-repeat right center;
    letter-spacing: 1px;
}
.nav>ul>li>a:hover,.nav>ul>li>a:active{
    background: #0e955c;
}
.nav_list {
    display: none;
    font-size: 12px;
    position: absolute;
    left: 40px;
    top:33px;
}
.nav_list li{
    height: 12px;
    float: left;
}
.nav_list li a{
    display: inline-block;
    border-right: 1px solid #000;
    line-height: 12px;
    padding: 0 15px;
}
.nav_list li a.nav_a_last{
   border: none;
}
.nav>ul>.nav_list_last{
    background-image: none;
}
/****banner****/
.banner{
    padding: 0 10px 16px 10px;
    position: relative;
    margin-top: 30px;
}
.banner:hover{
    cursor: pointer;
}
.banner_box{
    width: 968px;
    height: 389px;
    overflow: hidden;
}
.banner_box img{
    position: absolute;
    display: block;
    width: 968px;
    height: 389px;
}
.banner ol {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.banner ol li{
    float: left;
    padding: 2px 5px;
    margin: 0 3px;
    border: 1px solid #777;
    background: #FFF;
}
.banner ol li.active{
    background: #F96125;
    color: #FFF;
}
.banner ol li:hover{
    cursor: pointer;
}

/****main****/
.main{
    padding: 0 10px;
}
.business{
    height: 203px;
    background: #f6f6f6;
}
.business_box_one{
    padding: 19px 0 0;
    float: left;
    width: 310px;
    overflow: hidden;
}
.business_box_two{
    padding: 19px 0 0;
    float: left;
    width:296px;
}
.business_box_last{
    padding: 19px 0 0;
    float: left;
    width:348px;
}
.business_box img{
    float: left;
    border: 1px solid #e5e5e5;
    display: block;
    padding: 4px;
}
.business_box h2{
    font-weight: bold;
    font-size: 14px;
    color: #036c37;
    padding-bottom: 11px;
}
.business_box ul{
    padding-left: 160px;
}
.business_box li{
    margin: 6px 0;
    padding-left: 10px;
    background: url("../images/arrow.jpg") no-repeat left center ;
}
.business_box li a{
    color:#8b8b8b;
}

.business_box p a{
    color: #008d37;
}
.business_word1{
    display: block;
    padding-top: 20px;
    padding-left: 4px;
}
.business_word2{
    padding-top: 40px;
    padding-left: 4px;
}
.business_word3{
    padding: 8px 0 0 180px;
}

ul.business_list{
    padding-left: 180px;
}
embed{
    float: left;
}
.introduce{
    padding-top: 18px;
}
.introduce_top{
    background: url("../images/introduce_bg.png") no-repeat left center;
    width: 168px;
    height: 58px;
    position: relative;
}
.introduce_top a{
    display: block;
    color: #FFF;
    height: 58px;
    width: 168px;
}
.introduce_top p {
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    position: absolute;
    left: 45px;
    top: 8px;
}
.introduce_left img{
    padding-right: 12px;
    padding-bottom: 7px;
}
.introduce_left{
    float: left;
    width: 289px;
    line-height: 18px;
}
.introduce_wrap{
    padding-left: 10px;
    text-indent: 24px;
}
.introduce_wrap img{
    float: left;
}
.introduce_middle{
    width: 340px;
    float: left;
}
.introduce_right{
    width: 312px;
    float: left;
}
.introduce_middle{
    padding-left: 27px;
}
.introduce_top_middle{
    width: 340px;
}
.introduce_img{
    float: left;
    margin-bottom: 15px;
}
.introduce_middle img{
    width: 130px;
    height: 89px;
    padding: 4px;
    border: 1px solid #e1e1e1;
    margin-right: 20px;
}
.introduce_right li{
    line-height: 30px;
    list-style-type: disc;
    margin-left: 18px;
    color: #979797;
    border-bottom: dashed 1px #cecece
}
.introduce_word{
    font-size: 10px;
    display: inline-block;
}
.introduce_word a{
    display: inline-block;
    padding: 2px 5px;
    margin-left: 10px;
    color: #FFF;
    background: #045c34;
}
/****footer****/
.footer_wrap{
    height: 59px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.footer_wrap p{
    line-height: 59px;
    height:59px;
    padding-left:26px;
    color: #045c34;
    font-weight: bold;
    display: inline-block;
}
.footer_logo{
    display: inline-block;
    width: 786px;
    height: 32px;
    background: url("../images/footer_logo.png") repeat-x left center;
    padding-top: 12px;
    vertical-align: middle;
}
.footer_list{
    padding-left: 174px;
    margin-top: 18px;
    background: #045c34;
    line-height: 12px;
    padding-top: 9px;
    padding-bottom: 9px;
}
.footer_list li{
    float: left;
    font-size: 12px;
    padding-right: 16px;
    padding-left: 16px;
    border-right: 1px solid #FFF;
}
.footer_list a{
    color: #FFF;
}
.footer_list .list_last{
    border: none;
}
.copy{
    text-align: center;
    line-height: 52px;
}
